@tailwind base;
@tailwind components;
@tailwind utilities;

.default-theme {
  --bg: #141414;
  --text: white;
}

html,
body,
#root {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);

  /* overflow: hidden; */
  height: 100%;
}

@media (prefers-color-scheme: light) {
  .default-theme {
    --bg: white;
    --text: #141414;
  }
}
